body {
    font-family: 'Poppins', sans-serif;
  }
  
  .list-items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1rem;
    list-style: none;
    padding: 1rem 0;
    margin: 0;
  }
  
  .list-items li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 80px;
    font-size: 12px;
  }
  
  .list-items img {
    object-fit: cover;
    border-radius: 50%;
  }
  
  nav.navbar {
    position: sticky;
    top: 0;
    z-index: 1030;
    background-color: white;
  }
  .search-bar-sticky {
    position: sticky;
    top: 72px; /* ارتفاع الـ navbar */
    z-index: 1020;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
.search{  display: none;}



@media (max-width: 768px) {
    .container-fluid {
      flex-direction: column;
      align-items: start !important;
     
    }
  
    .w-50.container {
      width: 100% !important;
      flex-wrap: wrap;
      border-radius: 1rem !important;
      
    }
  
    .w-50.container a {
      width: 100% !important;
    }

    .search-bar-sticky{
        display: none;
    }
    .search{  display: block;}
    
  }
  